.bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 120vh;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

header {
  font-size: 2rem;
  margin: 20px 0;
  text-align: left;
}

.prods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.pord {
  border-radius: 10px;
  width: 150px;
  height: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid none;
}

.pord img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.pord .det {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 10px;
}
